@charset "UTF-8";

/* Reset do CSS padrão do browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;
    color: #FAFAFA;
}

body {
    background-color: #363636;
}

#container {
    width: 320px;
    margin: 56px auto 0;
    /* 56px em cima, auto nas laterais, 0 embaixo */
}

/* Estilização da div profile */
.profile {
    text-align: center;
    padding: 24px;
}

.profile img {
    width: 112px;
    border-radius: 50%;
    border: 2px solid #FAFAFA;
}

.profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}