@charset "UTF-8";

/* Reset do CSS padrão do browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;
    color: #FAFAFA;
}

body {
    background-image: url(../img/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    width: 320px;
    margin: 56px auto 0;
    /* 56px em cima, auto nas laterais, 0 embaixo */
    padding: 0 24px;
}

/* Estilização da div profile */
.profile {
    text-align: center;
    padding: 24px;
}

.profile img {
    width: 112px;
    border-radius: 50%;
    border: 2px solid #FAFAFA;
}

.profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

/* LINKS */
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

ul li a {
    display: flex; /* Faz com que o <a> ocupe toda a <li>*/
    justify-content: center;
    align-items: center;
    padding: 16px 24px;

    font-weight: bold;
    text-decoration: none;

    background: rgba(255, 255, 255, .1);
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: .5em;

    backdrop-filter: blur(4px); /*Efeito Blur*/
    -webkit-backdrop-filter: blur(4px); /*compatibilidade*/

    transition: background .2s;
}

ul li a:hover {
    background: rgba(255, 255, 255, .05);
    border: 1.5px solid #FFF;
}

/* Social links */
#social-links {
    display: flex;
    justify-content: center;

    padding: 24px 0;

    font-size: 1.5em;
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 50%;

    transition: background .2s;
}

#social-links a:hover {
    background-color: rgba(255, 255, 255, .1);
}

/* FOOTER */
footer {
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
}